* {
  box-sizing: border-box; /*manter tamanho limite definido*/
  margin: 0; /*tirar espaços nas bordas*/
}
body {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh; /*altura da tela*/
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  border-bottom: 1px solid #d4d4d4;
}


/* LOGO / TÍTULO */
.navbar-left {
    font-size: 27px;
    font-weight: bold;
}
.navbar-left a {
  text-decoration: none;
  color: #111111;
}
.navbar-left: a:visited {
  text-decoration: none;
  color: #111111;
}
/*------------------------------*/

/* LOJA / SOBRE / FAQ / CONTATO */
.navbar-center {
  display: flex;
  gap: 30px;
}
.navbar-center a {
  text-decoration: none;
  color: #333;
}
.navbar-center: a:visited {
  text-decoration: none;
  color: #333;
}
/*------------------------------*/

/* CARRINHO / LOGIN */
.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}
.navbar-right a {
  text-decoration: none;
  color: #333;
}
.navbar-right: a:visited {
  text-decoration: none;
  color: #333;
}
/*------------------------------*/